.header{
    display: flex;
    padding: 6px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    border-bottom: 3px solid #2c2c2c;
}

.logo{
    font-size: 23px;
    color: white;
    font-family: 'Poiret One', cursive;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;

    &:hover{
        color: rgb(133, 133, 133);
    }
}

.right-nav{
    display: flex;
    align-items: center;

    div{
        margin-left: 20px;
        font-size: 23px; 
        color: white;
        font-family: 'Poiret One', cursive;
        cursor: pointer;

        &:hover{
            color: rgb(133, 133, 133);
        }
    }
}

a{
    text-decoration: none;
    color: white;
}

.language-selector{
    font-family: 'Poiret One', cursive;
    font-size: 23px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    outline: none;


    option{
        background-color: rgb(34, 34, 34);
    }
}

//Text sizer

.text-sizer{
    color: white;
    font-family: 'Poiret One', cursive;
    display: flex;

    span{
        padding: 0 5px;

        img{
            padding: 2px;
        }

        &:hover{
            opacity: 0.7;
        }
    }

}

.menu-button{
    display: none;
}

.MuiTypography-body1 {
    font-size: inherit !important;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'Poiret One', cursive !important;
}


@media only screen and (max-width: 1000px) {
    .logo{
        font-size: 23px;
        color: white;
        font-family: 'Poiret One', cursive;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }

    .right-nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* justify-content: flex-start; */
        // width: 40%;
        margin: auto;

    }

    .right-nav div {
        padding: 6px 0;
    }

    .menu-button{
        display: inline;
    }

    .right-nav-show{
        display: block;
    }

    .right-nav-hide{
        display: none;
    }

    .header{
        display: block;
    }

    .center-menu{
        display: flex;
        justify-content: center;
    }

    .khamba{
        display: none;
    }
    
  }
